@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:wght@200&display=swap");
body {
  margin: 0;
}
* {
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
#fhead {
  height: 80px;
  background: #072c59;
  display: flex;
  justify-content: space-between;
  padding: 0px 100px;
  align-items: center;
  font-family: "Inter", sans-serif;
}
#flogo {
  width: 64px;
  height: 28px;
  font-size: 24px;
  color: #ffffff;
  margin: 0px 10px;
  text-transform: capitalize;
  flex: 2;
}
#menu {
  flex: 1.7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#menu a {
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  margin: 0px 10px;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
}
#hire {
  width: 120px;
  height: 35px;
  border-radius: 8px;
  background: #ffffff;
  padding: 8px;
  display: grid;
  place-items: center;
  text-transform: capitalize;
  margin: 0 32px;
  color: #da3673;
  font-weight: 600;
  font-size: 16px;
  font-style: normal;
}
.banner {
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 0 0 100px;
}
.bannertext h3 {
  padding-top: 80px;
}
.title {
  max-width: 498px;
  height: 128px;
  font-size: 48px;
  line-height: 64px;
  font-style: normal;
  font-weight: bold;
  font-family: "DM Serif Display", serif;
  font-family: "Inter", sans-serif;
  text-transform: capitalize;
  color: #072c59;
  padding-bottom: 0;
}
.bannertext p {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  line-height: 30px;
  color: #212121;
  margin-top: -30px;
}
#b {
  height: 48px;
  width: 180px;
  background-color: #da3673;
  padding: 13px 56px;
  border-radius: 8px;
  box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.15);
  color: white;
  border: none;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
}
.bannerbg {
  background: url(images/pexels-rakicevic-nenad-1262304.jpg);
  height: 450px;
  border-radius: 0px 0px 0px 200px;
  position: relative;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  flex: 1.2;
}
.bannerbg span {
  position: absolute;
  background: #072c59;
  width: 224px;
  height: 220px;
  right: 470px;
  top: 250px;
  border-radius: 100%;
  z-index: -1;
}
.bannerbg small {
  position: absolute;
  width: 80px;
  height: 80px;
  right: 550px;
  top: 320px;
  border-radius: 100%;
  z-index: 22222;
  color: #da3673;
  background: #da3673;
}
#main {
  text-align: center;
}
#main h3 {
  color: #072c59;
  line-height: 56px;
  font-weight: 400;
  font-size: 40px;
}
#main p {
  font-size: 18px;
  line-height: 28px;
  color: #212121;
  font-family: "Inter", sans-serif;
}
.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 80px 251px;
  grid-gap: 40px;
}

.services div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
  width: 286px;
  height: 320px;
  background: #ffffff;
  border: 1.5px solid rgba(218, 54, 115, 0.3);
  box-sizing: border-box;
  box-shadow: 8px 8px 40px rgba(7, 44, 89, 0.15);
  border-radius: 16px;
}
.services span {
  font-size: 64px;
  color: #da3673;
}
.services h3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  color: #072c59;
  text-transform: uppercase;
}
.services p {
  text-align: center;
  font-family: "Inter", sans-serif;
}
.info {
  height: 604px;
  background: linear-gradient(98.43deg, #072c59 24.54%, #da3673 132.3%);
  border-radius: 302px 0px 84px;
  margin-top: 100px;
  position: relative;
  display: grid;
  grid-template-columns: 1.3fr 2fr;
}
.finfo {
  padding: 244px 56px 164px 206px;
  color: #ffffff;
}
.finfo h3 {
  font-size: 30px;
}
.line {
  position: absolute;
  width: 24px;
  height: 548px;
  right: 486px;
  left: 539px;
  bottom: 20px;
  background: #da3673;
  border-radius: 12px;
}
.linecircle {
  width: 88px;
  height: 88px;
  border-radius: 100%;
  background: #ffffff;
  border: 2px solid #da3673;
  box-sizing: border-box;
  position: absolute;
  right: -33px;
  top: 18px;
  display: grid;
}
.linecircle2 {
  width: 88px;
  height: 88px;
  border-radius: 100%;
  background: #ffffff;
  border: 2px solid #da3673;
  box-sizing: border-box;
  position: absolute;
  right: -33px;
  top: 198px;
  display: grid;
}
.linecircle3 {
  width: 88px;
  height: 88px;
  border-radius: 100%;
  background: #ffffff;
  border: 2px solid #da3673;
  box-sizing: border-box;
  position: absolute;
  right: -33px;
  top: 400px;
  display: grid;
}

.sinfo {
  padding: 76px 15%;
}
.descriptionwrapper {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 10px;
}
.descriptionwrapper h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  font-family: " DM serif Display", serif;
  line-height: 12px;
  color: white;
}
.info p {
  color: #ffffff;
  opacity: 0.5;
}
